<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.pushnotificationsample30"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>PushNotificationApp</name>

        <description>
        Hello World sample application that responds to the deviceready event.
        </description>

        <author href="http://hangaroundtheweb.com/portfolio" email="rajasegar.c@gmail.com">
        Rajasegar Chandiran
        </author>
 <gap:plugin name="org.apache.cordova.device" />
 <gap:plugin name="com.phonegap.plugins.PushPlugin"/>
 <gap:plugin name="org.apache.cordova.core.AudioHandler" />
 <gap:plugin name="org.apache.cordova.core.console" />
 <gap:plugin name="org.apache.cordova.core.dialogs" />
    </widget>
